<div class="col-10 offset-1">
  <h1>About Splurty</h1>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <!--    Just a quick about section to explain me and the bootcamp    -->
      <h2 class="text-center">Simon Fuchs</h2>
      <br />
      <div class="blurb">
        <p>
          Splurty is a quote machine created by <a target="_blank" href="https://github.com/sfuchs42">Simon Fuchs</a> for a coding bootcamp. He is a burgeoning web developer and software engineer, working in Ruby, Python, JS, and other coding languages.
        </p>
        <br />
        <p>
          If you want to learn more about the bootcamp - click <a target="_blank" href="https://online.bootcampspot.com">here</a>
          </p>
        </div>
      </div>
    </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
