<br class="clear" />
<br />
<br />
<h2>
  <!--  Display the quote's id  -->
  <span>SPLURTY / No. <%= @quote.id %></span>
</h2>
<!-- Then display the quote and the author -->
<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>
<br class="clear" />
<br />
<br />
<br />
<br />
